In [2]:
# LIST
l=[1,2,3,4]
k=list()
print(l)
print(type(l))
# STORAGE ID
print(id(l))
l[0]=4
print(l)
print(type(k))
print(id(l))

[1, 2, 3, 4]
<class 'list'>
2617742696064
[4, 2, 3, 4]
<class 'list'>
2617742696064

In [3]:
k=['a','b',1,2,3]
print(k)
#P RINTING REVERSE USING SLICING [STARTING : ENDING : COUNT]
print(k[::-1])

['a', 'b', 1, 2, 3]
[3, 2, 1, 'b', 'a']

In [5]:
# 2-D ARRAY
L=[[1,2],[3,4]]
print(L)
# PRINTING OF 2-D ARRAY
print(L[0][1])
# VALUE ASSIGNING TO 2-D ARRAY
L[1][1]=5
print(L)

[[1, 2], [3, 4]]
2
[[1, 2], [3, 5]]

In [30]:
# REVERSING 2-D ARRAY
print(L[::1][::-1])

[[3, 5], [1, 2]]

In [31]:
# FOE FINDING LENGTH OF THE STRING
print(len(L))
# FOR COUNTING A SPECIFIC INTEGER , TUPLE , LIST , STRING ETC...
print(L.count([1,2]))

2
1

In [32]:
L=[1,2,3,4]
# TO CONCATE LIST 
L.append([4,5])
print(L)
# TO CONCATE ELEMENT INDIVIDUALLY FROM LIST
L.extend([6,7,8])
print(L)
# TO INSERT AN ELEMENT AT A SPECIFIC INDEX
L.insert(6,6.5)
print(L)
# TO REMOVE OR DELETE SPECIFIC VALUE 
L.remove(6.5)
print(L)
# TO DELETE OR REMOVE A SPECIFIC ELEMENT USING INDEX
L[4].pop(0)
print(L)
L.remove([5])
# TO REVERSE ANY LIST
L.reverse()
print(L)
# TO SORT DOWN ANY LIST
L.sort()
print(L)

[1, 2, 3, 4, [4, 5]]
[1, 2, 3, 4, [4, 5], 6, 7, 8]
[1, 2, 3, 4, [4, 5], 6, 6.5, 7, 8]
[1, 2, 3, 4, [4, 5], 6, 7, 8]
[1, 2, 3, 4, [5], 6, 7, 8]
[8, 7, 6, 4, 3, 2, 1]
[1, 2, 3, 4, 6, 7, 8]

In [35]:
# YOU CAN'T COPY A LIST LIKE L1=L2 THERE IS A SPECIFIC METHOD FOR IT COPY 
l=[1,2,3,4,5]
l.copy
l2=l[:]
l[0]=8
print(l)
print(l)
print(l2)

[8, 2, 3, 4, 5]
[8, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [36]:
# TO DELETE OR REMOVE WHOLE LIST 
l.clear()
print(l)

[]

In [105]:
# WAP to find total unique vowels in a given statement
S="Python is very easy"
found=list()
for i in S:
    if i in ('a','e','i','o','u','A','E','I','O','U'):
        if i not in found:
            found.append(i)
            print(f"{i} is there in word",end=" ")
            print(f"{S.count(i)} is total number")

o is there in word 1 is total number
i is there in word 1 is total number
e is there in word 2 is total number
a is there in word 1 is total number

In [56]:
#WAP to fetch any digit from user between 0 to 99 and print it in words
number=int(input("Enter any number"))
newN=number
hundreds=number//100
ones=number%10
number=number%100
tens=number//10
one=['zero','one ','two ','three ','four ','five ','six ','seven ','eight ','nine ','ten','eleven','twelve','thirteen','fourteen','fivteen','sixteen','seventeen','eighteen','nineteen']
ten=['','','twenty ','thirty ','fourty ','fifty ','sixty ','seventy ','eighty ','ninety ']
hun=['hundred ']
if newN<0 or newN<1000:
    if tens==1 and hundreds==0:
        print(one[ones+10])
    elif ones==0 and tens!=0 and hundreds==0:
        print(ten[tens]) 
    elif hundreds==0:
        print(ten[tens]+one[ones])
    elif tens==0 and ones==0:
        print(one[hundreds]+hun[0])
    elif tens==1 and hundreds>0:
        print(one[hundreds]+hun[0]+one[ones+10])
    elif ones==0 and tens!=0 and hundreds>0:
        print(one[hundreds]+hun[0]+ten[tens])
    else:
        print(one[hundreds]+hun[0]+ten[tens]+one[ones])
else:
    print("Enter a value between 0 to 999")

Enter any number 1165

Enter a value between 0 to 999

In [1]:
#WAP to get a user defined list which has ten unique numbers print the final list which contains only odd numbers
L=list()
for i in range(10):
    num=int(input(f"Enter {i+1} number : "))
    L+=[num,]
print(L)
for i in L:
    if (i%2==0):
        L.remove(i)
print(L)

Enter 1 number :  1
Enter 2 number :  2
Enter 3 number :  3
Enter 4 number :  58
Enter 5 number :  741
Enter 6 number :  659887
Enter 7 number :  52341
Enter 8 number :  2564
Enter 9 number :  85
Enter 10 number :  101231471

[1, 2, 3, 58, 741, 659887, 52341, 2564, 85, 101231471]
[1, 3, 741, 659887, 52341, 85, 101231471]

In [38]:
# 9-MARKER PROGRAM MAKE YOUR OWN PIZZA APP THAT HAVE THREE FUNTION TO ORDER PIZZA, COST CALCULATION AND BILL GENERATION
# 1. COST OF BASE SHOULD BE FOR SMALL=100,MEDIUM=150 AND FOR LARGE=250, THERE ARE 2 TYPES OF TOPPINGS REGULAR AND EXOTIC PRICES 20 AND 50 FOR EACH 
#    RESPECTIVELY AND AT LAST CHEESE THREE TYPES OF EACH PRIZED IS 50 CUSTOMER CAN GET ANY NU,BER OF TOPPINGS AND NUMEROUS TIME CHEESE AND CUSTOMER
#    ALSO CAN ORDER MORE THAN ONE PIZZA AT A TIME
# 2. THERE SHOULD BE MINIMUM  3 TYPES OF EACH TOPPINGS 
# 3. FOR BILLING SHOW EACH ITEM THAT HAS ORDERED WITH PIZZA EXAMPLE TOPPINGS OR TYPE OF CHEESE AND SIZE OF BASE
def calculate_price(size, toppings, cheese):
    cost = 0
    if size.lower() == 'small':
        cost += 100
    elif size.lower() == 'medium':
        cost += 150
    elif size.lower() == 'large':
        cost += 250
    toppings_20 = ['tomato', 'onion', 'capsicum']
    toppings_50 = ['bell papers', 'olives', 'jalpeno']
    for topping in toppings:
        cost+=20 if topping in toppings_20 else 50
        cost+=50*len(cheese)
    return cost
def order():
    pizzas = []
    num = int(input("Enter number of pizzas: "))
    for i in range(num):
        print(f"\nOrder No: {i + 1}")
        size = input("Enter pizza size (small/medium/large): ").lower()
        toppings = []
        print("\nSelect Toppings:")
        print("Rs.20 for Onion, Tomato, Capsicum")
        print("Rs.50 for Bell papers, Olives, Jalpeno")
        t_count = int(input("Enter number of toppings: "))
        for j in range(t_count):
            toppings.append(input("Enter topping: ").lower())
        cheese = []
        print("\nCheese options: Mozarella, Cheddar, Goat")
        c_count = int(input("Enter number of cheese: "))
        for j in range(c_count):
            cheese.append(input("Enter cheese: ").lower())
        cost = calculate_price(size, toppings, cheese)
        pizzas.append({
            'size': size,
            'toppings': toppings,
            'cheese': cheese,
            'cost': cost
        })
    return pizzas
def bill(pizzas):
    print("\n--------------- H's Pizza Bill ---------------")
    total = 0
    count=1
    for i in pizzas:
        print(f"\nPizza {count}:")
        print(f"Size: {i[1]}")
        print(f"Toppings: {', '.join(i['toppings']) if p['toppings'] else 'None'}")
        print(f"Cheese: {', '.join(i['cheese']) if p['cheese'] else 'None'}")
        print(f"Cost: Rs.{i['cost']}")
        total += i['cost']
    print("\n-----------------------------------------------")
    print(f"Total Bill: Rs.{total}")
    print("-----------------------------------------------")
    print("Thank you for ordering from H's Pizza!")
print("--------------------WELCOME TO H's PIZZA--------------------")
print("     Please Enter your order   ")
pizzas=order()
bill(pizzas)

--------------------WELCOME TO H's PIZZA--------------------
     Please Enter your order

Enter number of pizzas:  2

Order No: 1

Enter pizza size (small/medium/large):  medium

Select Toppings:
Rs.20 for Onion, Tomato, Capsicum
Rs.50 for Bell papers, Olives, Jalpeno

Enter number of toppings:  2
Enter topping:  tomato
Enter topping:  olives

Cheese options: Mozarella, Cheddar, Goat

Enter number of cheese:  2
Enter cheese:  goat
Enter cheese:  cheddar

Order No: 2

Enter pizza size (small/medium/large):  large

Select Toppings:
Rs.20 for Onion, Tomato, Capsicum
Rs.50 for Bell papers, Olives, Jalpeno

Enter number of toppings:  1
Enter topping:  onion

Cheese options: Mozarella, Cheddar, Goat

Enter number of cheese:  1
Enter cheese:  goat

--------------- H's Pizza Bill ---------------

Pizza 1:

KeyError: 0

In [57]:
#WAP to find all the words having character a in it
L=['mango','chilli','aapple','lemon']

In [58]:
print([x for x in L if x.count('a')>1])

['aapple']

In [84]:
#WAP to create 3x3 matrix by fetching all user defined number
L=[i for i in L for j in L [int(input(f"Enter elements {i} :"))]]

Enter elements mango : 1
Enter elements chilli : 2
Enter elements aapple : 3
Enter elements lemon : 45

IndexError: list index out of range

In [83]:
matrix=[]
n=int(input('Enter No. of rows'))
for i in range(n):
    row=[]
    for j in range(n):
        num=int(input(f"Enter element [{i}][{j}] :"))
        row.append(num)
    matrix.append(row)
print(matrix)

Enter No. of rows 3
Enter element [0][0] : 1
Enter element [0][1] : 2
Enter element [0][2] : 3
Enter element [1][0] : 4
Enter element [1][1] : 5
Enter element [1][2] : 6
Enter element [2][0] : 7
Enter element [2][1] : 8
Enter element [2][2] : 9

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [127]:
for i in range(0,len(matrix[0]),1):
    for j in range(len(matrix[i])-1,-1,-1):
        print(matrix[j][i],end=" ")
    print()

7 4 1
8 5 2
9 6 3

#LAMBDA FUNCTION / ANONYMOUS FUNCTION

In [139]:
#WAP SQUARE OF ALL ELEMENTS OF MATRIX
matrix=lambda n,y:n if n>y else y
print(matrix(8,5))

8

In [142]:
matrix=lambda n: "number is even" if n%2==0 else "number is odd"
print(matrix(8))

number is even

In [150]:
STR="WELCOME TO LJIET LJU"
S=lambda N: True if N.count("LJU")>0 else False
print(S(STR))

True

In [10]:
#WAP TO GET A USER DEFINED LIST HAVING 5 INTEGER VALUES FIND CUBE OF ALL VALUES USING LAMDA FUNTION

In [1]:
L=[1,2,3,4,5]
A=list(map(lambda x:x**3,L))
print(A)

[1, 8, 27, 64, 125]

In [4]:
L=[12,10,3,5,14]
A=list(map(lambda X:"Even" if X%2==0 else "Odd",L))
print(A)

['Even', 'Even', 'Odd', 'Odd', 'Even']

In [13]:
#WAP TO ADD ALL THE ELEMENTS OF 2 DIFFERENT lISTS BASED ON THIER INDEX USING LAMBDA FUNCTION
L=[12,10,3,5,14]
K=[2,3,4,5,6]
A=list(map(lambda x,y: x+y,L,K))
print(A)
#if there are more elements in one of the list than other that it will only show common elements without any error

[14, 13, 7, 10, 20]

In [30]:
#FILTER
import random
RAN=[]
for i in range(100):
    RAN.append(random.
print(RAN)

[35, 92, 59, 3, 12, 44, 23, 64, 79, 70, 88, 72, 27, 57, 97, 34, 12, 29, 94, 50, 14, 21, 16, 67, 95, 36, 47, 50, 13, 19, 87, 76, 91, 70, 68, 77, 98, 40, 84, 16, 84, 34, 51, 11, 29, 19, 15, 94, 92, 89, 100, 34, 64, 32, 85, 90, 42, 74, 85, 26, 8, 48, 4, 56, 72, 61, 14, 50, 27, 86, 28, 29, 27, 92, 74, 54, 75, 56, 48, 15, 41, 17, 69, 50, 72, 22, 48, 67, 74, 60, 49, 71, 2, 59, 25, 45, 46, 78, 24, 96]

In [47]:
print("EVEN : ",end="")
even=list(filter(lambda x: (x%2==0),RAN))
print(even,end=" and length of it is ")
print(len(even))
print()
print("ODD : ",end="")
odd=list(filter(lambda x: (x%2!=0),RAN))
print(odd,end=" and length of it is ")
print(len(odd))

EVEN : [92, 12, 44, 64, 70, 88, 72, 34, 12, 94, 50, 14, 16, 36, 50, 76, 70, 68, 98, 40, 84, 16, 84, 34, 94, 92, 100, 34, 64, 32, 90, 42, 74, 26, 8, 48, 4, 56, 72, 14, 50, 86, 28, 92, 74, 54, 56, 48, 50, 72, 22, 48, 74, 60, 2, 46, 78, 24, 96] and length of it is 59

ODD : [35, 59, 3, 23, 79, 27, 57, 97, 29, 21, 67, 95, 47, 13, 19, 87, 91, 77, 51, 11, 29, 19, 15, 89, 85, 85, 61, 27, 29, 27, 75, 15, 41, 17, 69, 67, 49, 71, 59, 25, 45] and length of it is 41

In [42]:
L=['cherry','apple','guava','apricot']
a=list(filter(lambda x : x.startswith('a'),L))
print(a)

['apple', 'apricot']

In [46]:
#reduced
from functools import reduce
A=[1,2,3,4,5,6,7,8,9,10]
total=reduce(lambda x,y:x*y,A)
print(sum(A))
print(total)

55
3628800

In [49]:
A=[4,8,6,2,9]
MAX=reduce(lambda x,y : x if x>y else y,A)
print(MAX)

9

#    DICTIONARY

In [51]:
D=dict()
print(type(D))

<class 'dict'>

In [70]:
D={1:'H',2:'Z',3:'T'}
print(D)
D[2]="A"
D[8]="F"
print(D[8])

{1: 'H', 2: 'Z', 3: 'T'}
F

In [77]:
#WAP to create a dictionary having names of 3 contries and their equivalent olympic medals as thier values
med={}
for i in range(3):
    con=input("Enter name of country")
    med[con]=(int(input("Enter no. of medals of respective country")))
print(med)

Enter name of country china
Enter no. of medals of respective country 15
Enter name of country india
Enter no. of medals of respective country 30
Enter name of country USA
Enter no. of medals of respective country 4

{'china': 15, 'india': 30, 'USA': 4}

In [82]:
print(type(med.items()))
print(type(med.keys()))
print(type(med.values()))

<class 'dict_items'>
<class 'dict_keys'>
<class 'dict_values'>

In [93]:
for k,v in med.items():
    print(f"{k} --> {v}")

china --> 15
india --> 30
USA --> 4

In [104]:
D.get(1,"A")

'H'

In [110]:
D={1:'H',2:'Z',3:'T'}
D.pop(1)
D.popitem()

(3, 'T')

In [114]:
D.update(med)
print(D)

{2: 'Z', 'china': 15, 'india': 30, 'USA': 4}

In [115]:
D.setdefault(1,'X')
print(D)

{2: 'Z', 'china': 15, 'india': 30, 'USA': 4, 1: 'X'}

In [128]:
# WAP TO FIND NUMBER OF OCCURANCES OF EACH LETTER PRESENT IN THE GIVEN STRING
S='A MAN IS A WILD SURVIVOR'
STR={}
for i in S:
    STR[i]=S.count(i)

In [9]:
l=[-5,-5/3,50,96/7,56.8912]
print(l)

[-5, -1.6666666666666667, 50, 13.714285714285714, 56.8912]

In [14]:
sort=lambda x: sorted(x)
sort=sort(l)
print(sort)

[-5, -1.6666666666666667, 13.714285714285714, 50, 56.8912]

In [27]:
K=["BAc","ABC","Kb"]
s=lambda x: sorted(x,key=any)
s=s(K)
print(s)

['BAc', 'ABC', 'Kb']

In [71]:
teams={'Kolkata knight riders':{'player':[],'purse':32.7,'purseUsed':0},
          'Sunrise Hyderabad':{'player':[],'purse':34.00,'purseUsed':0},
          'Chennai super kings':{'player':[],'purse':31.40,'purseUsed':0},
          'Gujarat Titans':{'player':[],'purse':38.15,'purseUsed':0},
          'Punjab kings':{'player':[],'purse':29.10,'purseUsed':0}}
def add_player(team_name,player_name,selling_price):
    if team_name in teams and teams[team_name]['purse']>=selling_price:
        teams[team_name]['player'].append({'player_name':player_name,'selling_price':selling_price})
        teams[team_name]['purse'] -=selling_price
        teams[team_name]['purseUsed']+=selling_price
        print(f"{player_name} added to {team_name} for {selling_price : 0.2f} Cr.")
    else:
        print(f"Error : Insufficient funds for {team_name} or invalid team name")
def sort_teams():
    sorted_teams=sorted(teams.items(),key= lambda x: x[1]['purseUsed'],reverse=True)
    return sorted_teams
def display():
    for team_name,details in teams.items():
        print(f'''{team_name} : Purse remaining = {details['purse']:0.2f} Cr.
                    Purse Used = {details['purseUsed']:0.2f} Cr.''')
        print("Players : ")
        for player in details['player']:
            print(f'''    {player['player_name']} --> {player['selling_price']} Cr.''')
        print()

In [72]:
add_player('Kolkata knight riders','Mitchell Starc',24.75)
add_player('Kolkata knight riders','Mujeeb Ur Rahman',2.00)
add_player('Sunrise Hyderabad','Pat Cummins',20.5)
add_player('Sunrise Hyderabad','Travis Head',6.80)
add_player('Chennai super kings','Daryl Mitchell',14.00)
add_player('Chennai super kings','Sameer Rizvi',8.40)
add_player('Gujarat Titans','Spencer Johnson',10.00)
add_player('Gujarat Titans','Shahrukh Khan',7.40)
add_player('Punjab kings','Harshal Patel',11.75)
add_player('Punjab kings','Rilee Rossouw',8.00)

Mitchell Starc added to Kolkata knight riders for  24.75 Cr.
Mujeeb Ur Rahman added to Kolkata knight riders for  2.00 Cr.
Pat Cummins added to Sunrise Hyderabad for  20.50 Cr.
Travis Head added to Sunrise Hyderabad for  6.80 Cr.
Daryl Mitchell added to Chennai super kings for  14.00 Cr.
Sameer Rizvi added to Chennai super kings for  8.40 Cr.
Spencer Johnson added to Gujarat Titans for  10.00 Cr.
Shahrukh Khan added to Gujarat Titans for  7.40 Cr.
Harshal Patel added to Punjab kings for  11.75 Cr.
Rilee Rossouw added to Punjab kings for  8.00 Cr.

In [73]:
S=sort_teams()
display()

Kolkata knight riders : Purse remaining = 5.95 Cr.
                    Purse Used = 26.75 Cr.
Players :
    Mitchell Starc --> 24.75 Cr.
    Mujeeb Ur Rahman --> 2.0 Cr.

Sunrise Hyderabad : Purse remaining = 6.70 Cr.
                    Purse Used = 27.30 Cr.
Players :
    Pat Cummins --> 20.5 Cr.
    Travis Head --> 6.8 Cr.

Chennai super kings : Purse remaining = 9.00 Cr.
                    Purse Used = 22.40 Cr.
Players :
    Daryl Mitchell --> 14.0 Cr.
    Sameer Rizvi --> 8.4 Cr.

Gujarat Titans : Purse remaining = 20.75 Cr.
                    Purse Used = 17.40 Cr.
Players :
    Spencer Johnson --> 10.0 Cr.
    Shahrukh Khan --> 7.4 Cr.

Punjab kings : Purse remaining = 9.35 Cr.
                    Purse Used = 19.75 Cr.
Players :
    Harshal Patel --> 11.75 Cr.
    Rilee Rossouw --> 8.0 Cr.

In [85]:
print({i : 'even' if i%2==0 else "odd" for i in range(1,11)})

{1: 'odd', 2: 'even', 3: 'odd', 4: 'even', 5: 'odd', 6: 'even', 7: 'odd', 8: 'even', 9: 'odd', 10: 'even'}

#UNIT - 5

#SETS

In [88]:
S=set()
print(type(S))

<class 'set'>

In [92]:
K={1,2,3,4,3,2,1}
print(K)

{1, 2, 3, 4}

In [116]:
#METHODS
# 1> Union() or (|)
S1={1,2,3,4}
S2={4,5,6,7}
print(S1.union(S2))
print(S1|S2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [97]:
# 2> Intersection() or (&)
print(S1.intersection(S2))
print(S1&S2)

{4}
{4}

In [98]:
# 3> difference() or (-)
print(S1-S2)
print(S2-S1)
print(S1.difference(S2))
print(S2.difference(S1))

{1, 2, 3}
{5, 6, 7}

In [100]:
# 4> Symmetric_difference or (^)
print(S1^S2)
print(S1.symmetric_difference(S2))

{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7}

In [107]:
# 5> add()
S1.update((5,6))
print(S1)

{1, 2, 3, 4, 5, 6}

In [111]:
S1.add((7))
print(S1)

{1, 2, 3, 4, 5, 6, 7}

In [115]:
del(S1)

In [119]:
S1.discard(1)
print(S1)

{2, 3, 4}

In [120]:
S1.pop()
print(S1)

{3, 4}

In [122]:
S1.clear()
print(S1)

set()

In [123]:
#   Design a Train Ticket Booking System
#   Consider a scenario where passengers need to book train tickets for a one-way journey or a
#   return journey. Design a Python program using basic functions to implement a Train Ticket
#   Booking System. The system should allow users to perform the following tasks:
#   1. Book One-Way Ticket:
#   • Passengers should be able to select the source and destination stations.
#   • Display available trains between the selected stations.
#   • Allow passengers to choose a train, enter the date of the journey, and select the
#   coach type (Sleeper/3AC/2AC/1AC). Prices will vary according to the coach type.
#   • Display the passenger's name, train details, journey date, coach type, PNR, and
#   ticket price.
#   2. Get Trip Info:
#   • Passengers should be able to retrieve information about their booked trip using the
#   PNR number.
#   • Display the train details, source, and destination of the booked trip.
#   3. Book Return Journey:
#   • If a passenger has booked a one-way ticket, provide an option to book a return
#   journey.
#   • Automatically swap the source and destination stations for the return journey.
#   • Display available trains for the return journey.
#   • Allow passengers to choose a return train, enter the return date, and select the coach
#   type.
#   • Generate a return ticket with a new PNR number.
#   4. Exit:
#   • Allow users to exit the program.
#   Requirements:
#   • Use functions to organize the code logically.
#   • Ensure proper error handling for invalid inputs.
#   • Include sample data for at least four trains with different routes and coach prices.
#   • Write a Python program that fulfills the requirements mentioned above. Include
#   comments to explain the logic and structure of your code. Test your program with
#   various scenarios to ensure its correctness. 

def make_train(name, source, destination, coach_prices):
    return {
        "name": name,
        "source": source,
        "destination": destination,
        "coach_prices": coach_prices,
        "passengers": []
    }

def display_menu():
    print("1. Book One-Way Ticket")
    print("2. Get Trip Info")
    print("3. Book Return Journey")
    print("4. Exit")

def get_available_trains(trains, source, destination):
    return [t for t in trains if t["source"] == source and t["destination"] == destination]

def swap_stations(source, destination):
    return destination, source

def is_pnr_valid(trains, pnr):
    for t in trains:
        for p in t["passengers"]:
            if p.get("ticket") and p["ticket"].get("pnr") == pnr:
                return False
    return True

def make_ticket(train, date, coach_type, pnr, kind="oneway"):
    return {
        "train": train,
        "date": date,
        "coach_type": coach_type,
        "pnr": pnr,
        "kind": kind
    }

def book_one_way_ticket(trains, passenger, train, date, coach_type, user_provided_pnr):
    if not is_pnr_valid(trains, user_provided_pnr):
        print("Invalid PNR. Please choose a unique PNR.")
        return None

    if coach_type not in train["coach_prices"]:
        print("Invalid coach type.")
        return None

    ticket = make_ticket(train, date, coach_type, user_provided_pnr, kind="oneway")
    passenger["ticket"] = ticket
    train["passengers"].append({"name": passenger["name"], "ticket": ticket})
    return ticket

def book_return_ticket(trains, passenger, train, date, coach_type, user_provided_pnr):
    if not is_pnr_valid(trains, user_provided_pnr):
        print("Invalid PNR. Please choose a unique PNR.")
        return None

    if coach_type not in train["coach_prices"]:
        print("Invalid coach type.")
        return None

    ticket = make_ticket(train, date, coach_type, user_provided_pnr, kind="return")
    passenger["ticket"] = ticket
    train["passengers"].append({"name": passenger["name"], "ticket": ticket})
    return ticket

def get_trip_info(trains, pnr):
    for t in trains:
        for p in t["passengers"]:
            if p.get("ticket") and p["ticket"].get("pnr") == pnr:
                return t
    return None

trains_data = [
    make_train("Shatabdi Express(12010)", "Ahmedabad", "Mumbai", {"Sleeper": 700, "3AC": 1300, "2AC": 1800, "1AC": 2300}),
    make_train("Duranto Express(12268)",  "Ahmedabad", "Mumbai", {"Sleeper": 600, "3AC": 1100, "2AC": 1600, "1AC": 2100}),
    make_train("Shatabdi Express(12009)", "Mumbai", "Ahmedabad", {"Sleeper": 700, "3AC": 1300, "2AC": 1800, "1AC": 2300}),
    make_train("Duranto Express(12267)",  "Mumbai", "Ahmedabad", {"Sleeper": 600, "3AC": 1100, "2AC": 1600, "1AC": 2100}),
]

passenger_name = input("Enter your name: ")
passenger = {"name": passenger_name, "ticket": None}

while True:
    display_menu()
    choice = input("Enter your choice (1-4): ").strip()

    if choice == "1":
        source = input("Enter source station: ").strip()
        destination = input("Enter destination station: ").strip()
        available = get_available_trains(trains_data, source, destination)

        if not available:
            print("No trains available for the selected route.")
            continue

        print("Available Trains:")
        for i, tr in enumerate(available, 1):
            print(f"{i}. {tr['name']} - {tr['source']} to {tr['destination']}")

        try:
            idx = int(input("Select a train (enter the number): ").strip()) - 1
            selected_train = available[idx]
        except (ValueError, IndexError):
            print("Invalid selection.")
            continue

        date_of_journey = input("Enter date of journey (YYYY-MM-DD): ").strip()
        selected_coach_type = input("Select coach type (Sleeper/3AC/2AC/1AC): ").strip()

        user_pnr = input("Enter your preferred PNR: ").strip()
        ticket = book_one_way_ticket(trains_data, passenger, selected_train, date_of_journey, selected_coach_type, user_pnr)

        if ticket:
            print("One-way Ticket booked successfully!")
            print(f"PNR: {ticket['pnr']}")
            print(f"Passenger: {passenger['name']}")
            print(f"Train: {selected_train['name']}")
            print(f"Date: {ticket['date']}")
            print(f"Coach Type: {ticket['coach_type']}")
            print(f"Ticket Price: {selected_train['coach_prices'][selected_coach_type]}")

    elif choice == "2":
        pnr = input("Enter your PNR: ").strip()
        info = get_trip_info(trains_data, pnr)
        if info:
            print(f"Train: {info['name']}\nSource: {info['source']}\nDestination: {info['destination']}")
        else:
            print("Invalid PNR. Please check and try again.")

    elif choice == "3":
        if not passenger.get("ticket"):
            print("You need to book a one-way ticket first.")
            continue

        last_train = passenger["ticket"]["train"]
        ret_src, ret_dst = swap_stations(last_train["source"], last_train["destination"])
        ret_trains = get_available_trains(trains_data, ret_src, ret_dst)

        if not ret_trains:
            print("No trains available for the return journey.")
            continue

        print("Available Trains for Return Journey:")
        for i, tr in enumerate(ret_trains, 1):
            print(f"{i}. {tr['name']} - {tr['source']} to {tr['destination']}")

        try:
            idx = int(input("Select a return train (enter the number): ").strip()) - 1
            selected_return_train = ret_trains[idx]
        except (ValueError, IndexError):
            print("Invalid selection.")
            continue

        return_date = input("Enter return date (YYYY-MM-DD): ").strip()
        selected_return_coach_type = input("Select return coach type (Sleeper/3AC/2AC/1AC): ").strip()

        user_return_pnr = input("Enter your preferred PNR for return journey: ").strip()
        ret_ticket = book_return_ticket(trains_data, passenger, selected_return_train, return_date, selected_return_coach_type, user_return_pnr)

        if ret_ticket:
            print("Return ticket booked successfully!")
            print(f"Return PNR: {ret_ticket['pnr']}")

    elif choice == "4":
        print("Exiting the program. Thank you!")
        break

    else:
        print("Invalid choice. Please enter a number between 1 and 4.")

Enter your name:  HAP

1. Book One-Way Ticket
2. Get Trip Info
3. Book Return Journey
4. Exit

Enter your choice (1-4):  1
Enter source station:  Ahmedabad
Enter destination station:  mumbai

No trains available for the selected route.
1. Book One-Way Ticket
2. Get Trip Info
3. Book Return Journey
4. Exit

Enter your choice (1-4):  1
Enter source station:  Ahmedabad
Enter destination station:  Mumbai

Available Trains:
1. Shatabdi Express(12010) - Ahmedabad to Mumbai
2. Duranto Express(12268) - Ahmedabad to Mumbai

Select a train (enter the number):  12010

Invalid selection.
1. Book One-Way Ticket
2. Get Trip Info
3. Book Return Journey
4. Exit

Enter your choice (1-4):  1
Enter source station:  Ahmedabad
Enter destination station:  Mumbai

Available Trains:
1. Shatabdi Express(12010) - Ahmedabad to Mumbai
2. Duranto Express(12268) - Ahmedabad to Mumbai

Select a train (enter the number):  12010

Invalid selection.
1. Book One-Way Ticket
2. Get Trip Info
3. Book Return Journey
4. Exit

Enter your choice (1-4):  1
Enter source station:  Ahmedabad
Enter destination station:  Mumbai

Available Trains:
1. Shatabdi Express(12010) - Ahmedabad to Mumbai
2. Duranto Express(12268) - Ahmedabad to Mumbai

Select a train (enter the number):  2
Enter date of journey (YYYY-MM-DD):  2026-1-25
Select coach type (Sleeper/3AC/2AC/1AC):  1AC
Enter your preferred PNR:  1523648

One-way Ticket booked successfully!
PNR: 1523648
Passenger: HAP
Train: Duranto Express(12268)
Date: 2026-1-25
Coach Type: 1AC
Ticket Price: 2100
1. Book One-Way Ticket
2. Get Trip Info
3. Book Return Journey
4. Exit

Enter your choice (1-4):  2
Enter your PNR:  1523648

Train: Duranto Express(12268)
Source: Ahmedabad
Destination: Mumbai
1. Book One-Way Ticket
2. Get Trip Info
3. Book Return Journey
4. Exit

Enter your choice (1-4):  3

Available Trains for Return Journey:
1. Shatabdi Express(12009) - Mumbai to Ahmedabad
2. Duranto Express(12267) - Mumbai to Ahmedabad

Select a return train (enter the number):  2
Enter return date (YYYY-MM-DD):  2025-11-25
Select return coach type (Sleeper/3AC/2AC/1AC):  2AC
Enter your preferred PNR for return journey:  123456

Return ticket booked successfully!
Return PNR: 123456
1. Book One-Way Ticket
2. Get Trip Info
3. Book Return Journey
4. Exit

Enter your choice (1-4):  4

Exiting the program. Thank you!